*{
  margin:0;
  padding: 0;
}

.App {
  text-align: center;
  /*font-family: 'Dongle', sans-serif;*/
  font-family: 'Playfair Display', serif;
  height:100vh;
  width:100vw;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.heading {
  width: 100%;
  height: fit-content;
  background: #90bac4;
  background: #49a5bd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;  /*gap: 1rem;*/
  letter-spacing: 15px;
  line-height: 1.8;
  color: #282c34;
  text-shadow: #90bac4 1px 1px 1px;
  font-size: calc(.5rem + 1vw);
  font-weight: 800;
  padding-top:5px;
}
.heading h1 {
  width: 100%;
  border-bottom: 1px dotted grey;
  padding-bottom: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.heading h2 {
  width: 100%;
  background: rgba(59, 128, 143, 0.43);
  height:100%;
  margin: 0;
  color: #2a56bb;
  text-shadow: 1px 1px #000000;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.show-users {
  /*background: rgba(96, 95, 95, 0.48);*/
 background: rgba(102, 124, 102, 0.48);
  /*padding:1rem;*/
  /*width:100%;*/
  /*height: 100%;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:.5rem;
  /*animation: fade-in 500ms forwards ease-in-out ;*/
  font-family: 'Lato', sans-serif;

}

.card {
  margin-top:1rem;
  width:30%;
  background: rgb(252, 242, 242);
  border: rgba(0, 0, 0, 0.48) 1px solid;
  display:flex;
  justify-content: space-around;
  align-items: center;
  /*flex-wrap: wrap;*/
  padding:1rem;
  gap: 15px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;  /*gap: 1rem;*/
  /*box-shadow: rgba(50, 50, 93, 0.25) 0  30px 70px -12px inset, rgba(0, 0, 0, 0.3) 0  18px 36px -18px inset;*/


  animation: fade-in 50ms forwards ease-in-out ;

}
.card:hover {
  /*filter:brightness(80%);*/

}
.card:hover > .buttons-div {
  opacity: 1;
  transform: translateY(-5px);

}
.card p {
  font-size: calc(15px + 1vmin);
  color: #262323;
  text-shadow: 1px 1px #282c34;
}

.card span {
  color: #2a2323;
  text-shadow: #0c0a0a 1px 1px 1px;
  font-size: calc(1rem + 1vw);
  padding:10px;
  margin-left:5px;
}
.items-div {
  width:80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 30px;
}
.buttons-div {
  width:50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  opacity: 0;
  transition: 300ms ease-in-out;
  transform: translateY(20px);
}


.find-user {
  /*background: #90bac4;*/
  /*border:black 2px solid;*/
  font-family: 'Lato', sans-serif;
  background: rgb(41, 41, 44);
  width:40%;
  padding:1rem 2rem 3rem 1rem ;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:whitesmoke;
  text-shadow: black 1px 1px;
  border:5px solid #5475d0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  /*flex-direction: column;*/
   z-index: 100;
}

.divider {
  height:100%;
  width:3px;
  border-left:black solid 1px
}

.item {
  height:100%;
  width:fit-content;
  display:flex;
  justify-content: space-around;
  align-items: center;
  /*flex-direction: column;*/
  /*border:1px grey solid;*/
  margin:0;
  border-bottom:2px solid grey;

}


.error-div {
  color: #e12424;
  text-shadow: #282c34 1px 1px 1px ;
  font-size: calc(1rem + 1vw);
  width: 100%;
  background: rgba(225, 36, 36, 0.39);
}

.error-div-bottom {
  color: #9d0d0d;
  text-shadow: #282c34 1px 1px 1px ;
  font-size: calc(1rem + 1vw);
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(255, 121, 121, 0.95);
  position: fixed;
  bottom: 0;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from{
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }

}

/*responsive*/

@media only screen and (max-width: 600px) {
.buttons-div {
  transform: translateX(-30px);
}
  .card:hover > .buttons-div {
    transform: translateX(-30px);

  }
  .card p {
    font-size: calc(10px + 1vmin);
  }
  .card span {

    font-size: calc(8px + 1vmin);
    padding:10px;
    margin-left:5px;
  }
}