.form {
    background: rgb(40, 44, 52);
    width:40%;
    padding:1rem 2rem 3rem 1rem ;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:whitesmoke;
    text-shadow: black 1px 1px;
    border:5px solid #5475d0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;

}
label {
    margin-right:10px;
    font-size: calc(15px + 1vmin);
    letter-spacing: 2px;

}

.input {
    padding:10px;
    transition: 200ms ease-in-out;

}
.input:hover {
    transform: scale(1.1);
}