.form {
    background: rgb(40, 44, 52);

    padding:1rem 2rem 3rem 1rem ;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:whitesmoke;
    text-shadow: black 1px 1px;
    border:5px solid #5475d0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
label {
    margin-right:10px;
}